@import url('../css/bootstrap.min.css');
@import url('../fonts/feather/feather.css');
@import url('font-awesome.min.css');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/animate.css');


$bgcolor: #fafafa;
$textcolor: #666666;
$fontsize: 18px;
$bg-tp: #ffffff00;

// font family added

@media (max-width: 1140px){
    .container {
        max-width: 100%;
    }
}



/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

$color-white: #ffffff; 
$hover: #1D61F6;

/* end the variables */

@mixin btn-red {
    height: 72px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF0000;
    padding: 20px 30px;
    width: auto;
    border-radius: 0;
    border: 1px solid #FF0000;
    transition: all 0.8s;
    
    &:hover {
    background-color: #FF0000;
    box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #FF0000;
        box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    transition: all 0.8s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    &:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}




/*###########################################################################
############################## header section ###############################*/


.fixed-top {
    background-color: #000000 !important;
    box-shadow: 0 7px 12px rgba(0,0,0,.02);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.header{
    height: 70px;
    position: relative;
    .row-100 {width: 100%; margin: 0;
    .col-12 {padding: 0;}
    }
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: flex;
        height: 100px;
        background-color: #000000;
        // box-shadow: 0 7px 12px rgba(0,0,0,.02);
        z-index: 999;

        // border-bottom: 1px solid rgba(236, 236, 236, 0.6);
        .col-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .col-30{

                flex: 0 0 20%;
                max-width: 20%;
            }
            .col-70 {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }

        .navbar-brand {
            width: 160px;
            height: auto;
            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            color: $textcolor;
            padding: 0;
            outline: 0 !important;
            border: 0;
            .navbar-toggler-icon {
                background-color: $bg-tp;
                background-image: url('../../assets/images/menubar.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 35px;
                width: 35px;
                border: 0;
            }
        }
        .navbar-toggler{
            position: absolute;
            right: 15px;
            top: -17px;
            border: 0;
        }
        .collapse1 {
            height: 100%;
            height: 100%;
            .navbar-nav { 
                .nav-item  {
                    .nav-link {
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 8px 18px;
                        font-weight: 500;
                        transition: all 0.4s ease-in-out;
                        &:hover {
                            transition: all 0.4s ease-in-out;
                            color: rgba(255, 255, 255,0.7);
                        }
                    }
                    .nav-link.active {
                        transition: all 0.4s ease-in-out;
                        color: #ffffff;
                    }
                }
                .nav-btn {
                    .nav-link {
                    // display: block;
                    // background-color: #ED5C37;
                    // color: #ffffff;
                    // border-radius: 4px;
                    // transition: all 0.3s ease-in-out;
                    //     &:hover {
                    //         background-color: #f2f2f2;
                    //         color: #ED5C37;
                    //         transition: all 0.3s ease-in-out;
                    //     }
                    // @include btn-blue();
                    font-size: 16px;
                    min-height: 30px !important;
                    line-height: 22px;
                    border-radius: 4px;
                    padding: 8px 20px;
                    color: #ffffff !important;
                    }
                   
                }
            }
        }
    }
}

.sidenav-new-menu .closebtn  {display: none;}


/*############################## Home section ###############################*/
// helper class

a {color: #1D61F6;}


.form-group {
    margin-bottom: 20px;

    label {
        font-size: 18px;
        color: #181818;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .form-control {
    border: 1px solid #C7C7C7;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none;
    outline: 0;

    &:focus {
        border-color: #1D61F6 !important;
        color: #000000;
    }
    }
}

.input-group{ 
    .input-group-addon {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 99;
            a {
                text-decoration: none;
                color: #727272;
            }
            i {
                font-size: 20px;
            }
    }
    .form-control {
        padding-right: 40px;
    }
 }



// btns


@media screen and (min-width: 1440px) and (max-width: 1920px) {

    .middle-section .home-banner-section .music-cd-parent .music-cd {
        background-size: 100% !important;
    }
}

@media  screen and (min-width: 1920px) {
    /* insert styles here */

    .middle-section .home-banner-section .music-cd-parent .music-cd {
        background-size: 100% !important;
    }

    .middle-section .home-banner-section {
        min-height: 790px !important;
    }

    .middle-section .home-banner-section .banner-caption {
        min-height: calc(790px - 100px) !important;
    }

}

// middle section start here

.middle-section {

 .home-banner-section{
     background-color: #080202;
     min-height: 100vh;
     display: flex;
     align-items: flex-start;
     justify-content: flex-end;
     flex-direction: column;
     margin: 0 auto;
     padding: 100px 0 0 0;
     width: 100%;
    overflow: hidden;
     .container {
         position: relative;
     }
    .banner-inner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .music-cd-parent{
        .music-cd {
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url(../images/bg-cd.png);
            height: 720px;
            width: 788px;
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: right bottom;
            margin: 0 auto;
            max-width: 780px;
        }
    }
   

    .banner-caption{
         min-height: calc(100vh - 100px);
         display: flex;
         align-items: flex-start;
         justify-content: center;
         flex-direction: column;
         height: 100%;
         position: relative;
         z-index: 100;
         h2 {
             font-size: 93px;
             line-height: 100px;
             font-weight: 700;
             color: #ffffff;
             span {
                 display: block;
             }
         }
         p {
             color: rgba(255, 255, 255,0.55);
             line-height: 27px;
             margin-bottom: 40px;
         }

         .btn-download {
            @include btn-red();
         }
    }

    .social-media-div{
        position: absolute;
        height: 100%;
        display: flex;
        align-items: flex-end;
        width: 50%;
        z-index: 99;
        right: 0;
        .social-media{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: auto;
            right: 20px;
            &::after {
                height: 82%;
                width: 1px;
                background-color: rgba(255, 255, 255, 0.20);
                content: "";
                position: absolute;
                bottom: 0;
                right: 20px;
                z-index: -1;
            }
             ul {
                 margin: 0;
                 padding: 0;
                 list-style: none;
                 li {
                     padding:  10px 0;
                     a {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        color: #ffffff;
                        background-color: #000000;
                        border: 1px solid #000000;
                        z-index: 99;
                        position: relative;
                        text-decoration: none;
                        font-size: 20px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: rgba(255, 255, 255,0.8);
                            border: 1px solid rgba(180, 180, 180, 0.26);
                            transition: all 0.3s ease-in-out;
                           
                        }
                     }
                 }
             }
        }
    }
 }

 .music-banner-section{
    position: relative;
    background-color: #ffffff;
    .container-pad-0 {
        padding: 0;
    }
    .row-0 {
        margin: 0;
        .pad-0 {
            padding: 0;
        }
    }

    .grid-conatiner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;

        .grid-col{
            width: 100%;
        }
    }

    .music-box{
        position: relative;
        display: block;

        .music-content{
            display: block;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 572px;
                min-height: 572px;
            }
        }   
        .box-hover{
            position: absolute;
            left: 0;
            top: 0;
            bottom:0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 20px;
            transition: all .5s ease-in-out;
            p{
                margin-bottom: 0;
                color: #ffffff;
                font-size: 18px;
                font-weight: 800;
                text-align: center;
            }
        }


        .text-top {
            align-items: flex-start;
            transition: all .5s ease-in-out;
        }
        
        .text-bottom {
            align-items: flex-end;
            transition: all .5s ease-in-out;
        }

        .color-green {
            background-color: rgba(0, 255, 34, 0.4);
        }
        .color-blue {
            background-color: rgba(38, 7, 55, 0.4);
        }
        .color-brown {
            background-color: rgba(139, 74, 0, 0.4);
        }
        .color-red {
            background-color: rgba(170, 28, 28, 0.4);
        }
        .color-light-green {
            background-color: rgba(0, 184, 159, 0.4);
        }

        &:hover {
               
        .text-top {
            transition: all 0.5s ease-in-out;
            padding-top: 270px;
            }
        
        .text-bottom {
            transition: all 0.5s ease-in-out;
            padding-bottom: 270px;
            }
        }
    }
 }


 .artist-section{
     padding: 100px 0;
     background-color: #CF261D;
     position: relative;
     overflow: hidden;
     &::after {
         content: '';
         position: absolute;
         top: -20px;
         left: -100px;
         background-image: url(../images/pattern-two.svg);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         display: block;
         height: 210px;
         width: 213px;
         z-index: 1;
         transition: all 0.5s;
     }
     &:hover {
         &::after {
             content: '';
             left: -70px;
             top: 0px;
             transition: all 0.5s;
         }
     }

     .artist-content {
        padding: 150px 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
            .artist-content-inner {
                max-width: 520px;
                h2 {
                    font-size: 68px;
                    line-height: 76px;
                    color: #ffffff;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                }
            }
    }

    .artist-profile-list{
        padding-left: 50px;
        max-width: 620px;
        display: block;
        width: 100%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: - 50px;
            background-image: url(../images/pattern-one.svg);
            background-size: contain;
            background-position: center;
            display: block;
            height: 210px;
            width: 456px;
            z-index: 1;
            transition: all 0.5s;
        }
        &:hover {
            &::after {
                content: '';
                left: -90px;
                bottom: -30px;
                transition: all 0.5s;
            }
        }
        .artist-profile{
            display: inline-flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            position: relative;
            z-index: 2;
            li {
                
                width: 180px;
                margin: 5px 5px;
                a {
                width: 180px;
                height: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                overflow: hidden;
                    img  {
                        width: 100%;
                        object-fit: cover;
                        transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
                    } 

                    &:hover  {

                        img {
                            transform: scale(1.3) rotate(0deg);
                        }
                    }
                }
            }
        }
    }
 }


 .download-app-section{
    background-color: #171717;
    padding: 0px 0 0 0;
    position: relative;
    
    &::after {
        content: '';
        position: relative;
        display: block;
        background-image: url(../images/bg-app.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0.05;
        top: 0;
        z-index: 1;
    }
    .download-app-inner {
        position: relative;
        z-index: 3;
    }

    .row-0 {
        margin: 0;
        .pad-0 {
            padding: 0;
        }
    }

   

    .download-app-img {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 405px;
        width: 100%;
      
        img {
            max-width: 270px;
            width: 100%;
        }
    }

    .download-app-content{
        padding: 100px 0 0px 0;
        h3 {
            font-size: 47px;
            color: #ffffff;
            font-weight: 700;
            line-height: 57px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.7);
        }

        .btn-download {
            @include btn-red();
        }
    }
}

.premium-plan-section{
    background-color: #000000;
    padding: 100px 0 0 0;
    position: relative;
    &::after {
        content: '';
        position: relative;
        display: block;
        background-image: url(../images/bg-app.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 80%;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0.05;
        bottom: 0;
        z-index: 1;
    }

    .premium-plan-inner {
        position: relative;
        z-index: 99;
    }
    
    .premium-plan-content {
        h2 {
            color: #ffffff;
            font-size: 49px;
            font-weight: 700;
            line-height: 59px;
            margin-bottom: 40px;
        }

        .content {
            margin-bottom: 20px;
            h3 {
                color: #CF261D;
                margin-bottom: 14px;
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
            }
            p {
                color: rgba(255, 255, 255, 0.5);
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }

    .premium-plan-img {
        height: 414px;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
            max-width: 390px;
           
        }
    }

   
}

.download-now-section{
    padding: 90px 0;
    background-color: #CF261D;
    .download-now-inner {
        position: relative;
        z-index: 3;
    }
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        position: relative;
        display: block;
        background-image: url(../images/shape-line.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation-duration: 2s;
        animation-delay: 0.4s;
        animation-name: pulse;
        animation-iteration-count: 50;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .download-now-content {
        h2 {
            font-size: 42px;
            line-height: 50px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    .store-content {
        .store-btn-group{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .btn-store {
                padding: 0;
                margin: 5px 5px;
                box-shadow: none;
                outline: 0;
                height: 70px;
                @include btn-white();
            }
        }
    }
}

.banner-footer{
    background-image: url(../images/bg-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 470px;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        height: 100px;
        width: 100%;
        z-index: 1;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
}

// 19 aug

// inner page

.banner-inner-section {
    height: 500px;
    min-height: 500px;
    background-image: url("../images/bg-about.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            top: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

       .banner-inner{
           position: relative;
           z-index: 99;
       } 
    .heading {
        h2 {
            font-size: 50px;
            line-height: 60px;
            color: #ffffff;
        }
    }
}


.who-we-are-section {
    background-color: #CF261D;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: -20px;
        left: -100px;
        background-image: url(../images/pattern-two.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 210px;
        width: 213px;
        z-index: 1;
        transition: all 0.5s;
    }
    &:hover {
        &::after {
            content: '';
            left: -70px;
            top: 0px;
            transition: all 0.5s;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-image: url(../images/pattern-two.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 210px;
        width: 213px;
        z-index: 1;
        transition: all 0.5s;
    }

    &:hover {
        &::before {
            content: '';
            right: -20px;
            bottom: -20px;
            transition: all 0.5s;
        }
    }
    .who-we-are-inner {
        z-index: 99;
    }

    .who-we-content {
        h2 {
            font-size: 68px;
            line-height: 76px;
            color: #FFFFFF;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            font-size: 22px;
            color: #FFFFFF;
            line-height: 40px;
        }
    }
}

.about-banner-section{
    .container-fluid {
        padding: 0;
    }

    .banner-img{
        height: 100%;
        width: 100%;
        position: relative;
    
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            max-height: 430px;
            overflow: hidden;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            height: 100px;
            width: 100%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
    .owl-theme .owl-dots {
        width: 100%;
        position: absolute;
        bottom: 5px;
    }
    .owl-theme .owl-dots .owl-dot {
        box-shadow: none;
        outline: 0;
    }
    .owl-theme .owl-dots .owl-dot span {
        background-color: transparent;
        border: 1px solid #ffffff;
    }
    .owl-theme .owl-dots .owl-dot.active span {
        background-color: #CF261D;
        border: 1px solid #CF261D;
    }
}

.about-content-section {
    background-color: #080202;
    padding: 80px 0;
    // overflow: hidden;
    .content{
        p {
            color: #FFFFFF;
            font-size: 22px;
            line-height: 39px;
            font-weight: 400;
            margin-bottom: 30px;
            word-break: break-word;
        }
        .quote {
            p {
                font-weight: 700;
                color: #FFFFFF;
                font-style: italic;
                font-size: 22px;
            }
        }
    }
    
}

.about-showcase-section{
    padding: 80px 0;
    background-color: #080202;
    .showcase-content{
        p {
            color: #FFFFFF;
            font-size: 22px;
            line-height: 39px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .quote {
            p {
                font-weight: 700;
                color: #FFFFFF;
                font-style: italic;
                font-size: 22px;
            }
        }
    }

    .showcase-img{
        img {
            width: 100%;
        }
    }
}
}


.footer-section {
    padding: 80px 0 0px 0;
    background-color: #000000;
    color: #FFFFFF;

    hr {
        margin: 30px 0 0 0;
        border-color: rgba(255, 255, 255,0.5);
    }

    .footer-line-one {
        border-color: rgba(226, 226, 226, 0.21);
        margin: 0 0 40px 0;
    }

    .footer-content-logo{

        .logo-footer{
            margin-bottom: 40px;
            img {
                width: 120px;
                height: auto;
                object-fit: cover;
            }
        }
        p {
            width: 170px;
        }
    }

    

    .footer-content-link{
        padding: 70px 0 0 0;
    }

    .footer-content {
      margin-bottom: 20px;
        h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
        }

        p {
            font-size: 12px;
            line-height: 21px;
            font-weight: 400;
        }

        ul { margin: 0;
            padding: 0;
            list-style: none;
            li {
                
                font-size: 16px;
                line-height: 28px;
                a {
                    display: block;
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 30px;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    .stay-in-touch{
        padding: 0 0 0 50px;
        h3 {
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .subscribe {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .form-group {
                margin-bottom: 0;
                margin-right: 10px;
                width: 100%;
                .form-control {
                    background-color: transparent;
                    color: #ffffff;
                    height: 46px;
                    font-size: 16px;
                    border-radius: 4px;
                    &:focus {
                        border-color: #ffffff !important;
                    }
                }
            }

            .btn-subscribe{
                background-color: #ffffff;
                color: #000000;
                height: 46px;
                border-radius: 0;
                max-width: 170px;
                width: 100%;
                text-align: center;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                @include btn-white();
            }
        }
    }

    .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 60px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background-color: transparent;
                    border: 1px solid rgba(180, 180, 180, 0.26);
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    font-size: 18px;
                    &:hover {
                        transition: all 0.5s ease-in-out;
                        color: #000000;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }

    .copy-right-text{
        padding: 20px 0;
        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 0;
        }

      
    }
}

.closebtn img {
    width: 20px;
    height: 20px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/

@media screen and (min-width: 600px) and (max-width: 800px) {
    /* insert styles here */

    .middle-section {
        .music-banner-section .grid-conatiner {
            grid-template-columns: 1fr 1fr 1fr; 
        }
    }
}


@media (max-width: 320px){

.middle-section {
    .home-banner-section{
        .banner-inner {
        min-height: unset;
            .banner-caption {
                    // min-height: unset;
                    padding: 50px 0;
                    position: relative;
                    z-index: 3;
                    justify-content: flex-start;
                    padding-right: 30px;
                    h2 {
                        font-size: 32px;
                        line-height: 40px;
                    }
        
                    p {
                        margin-bottom: 20px;
                    }
        
                    .btn-download {
                        height: 50px;
                        font-size: 16px;
                        line-height: 22px;
                        padding: 8px 15px;
                    }
        
            }

            .music-cd-parent  {
                .music-cd {
                    // position: relative;
                    height: 300px;
                    width: 300px;
                    background-image: 100%;
                }
            }
        }
    }   
    
    
    .artist-section {
        .artiest-inner{

            .artist-content {
                .artist-content-inner {
                    h2 {
                        width: 100%;
                        font-size: 36px;
                        line-height: 46px;
                        font-weight: 700;
                        letter-spacing: 0;
                    }
                }
            }
            .artist-profile-list {
                padding: 0;
                max-width: 100%;
                .artist-profile {
                    align-items: center;
                    justify-content: center;
                    li {
                        width: 80px;
                        height: 80px;
                        a {
                            height: 80px;
                            width: 80px;
                        }
                    }
                }
            }
        }
       
    }
}

}

@media (max-width: 767px){



    .header{
        .navbar {
            padding: 8px 0;
            z-index: 999;
            height: 70px;
            .col-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .col-30{
    
                    flex: 0 0 70%;
                    max-width: 70%;
                }
                .col-70 {
                    flex: 0 0 30%;
                    max-width: 30%;
                }
            }
        .row-100 {
            width: 100%;
            margin: 0;
            .col-12 {
                padding: 0 15px;
            }
            .col-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .col-30{
    
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                .col-70 {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
           .navbar-brand {
                    width: 140px;
                    height: auto;
                    img {
                    width: 100%;
                    }
                }     
             }

            .collapse1 {
                padding: 10px 0;
                .navbar-nav { 
                    .nav-item  {
                        padding: 0 20px;
                        .nav-link {
                            color: #ffffff;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            white-space: nowrap;
                            &:hover {
                                color: #ffffff;
                            }
                        
                        }
                    }

                    .nav-btn {
                        .nav-link {
                        background-color: #ED5C37;
                        color: #ffffff;
                        border-radius: 4px;
                        transition: none;
                        &:hover {
                            background-color: #ffffff;
                            color: #ED5C37;
                        }
                        }
                    }
                }
            } 
        }
    }

    #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(255,255,255, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
    .sidenav-new-menu { height: 100%; min-height: 100vh; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #000000; padding: 40px 0px 20px 0px  !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
    .width-menu {width: 70%; display: block !important;}
    .closebtn {display: block !important; color: #ffffff; text-decoration: none;}
    .closebtn:hover {display: block; color: #ffffff; text-decoration: none;}
    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }


// middle section start here

.middle-section {

    .home-banner-section{
        min-height: unset;

        .banner-caption {
            // min-height: unset;
            padding: 50px 0;
            position: relative;
            z-index: 3;
            justify-content: flex-start;
            padding-right: 40px;
            h2 {
                font-size: 45px;
                line-height: 52px;
            }

            p {
                margin-bottom: 20px;
            }

            .btn-download {
                height: 60px;
                font-size: 18px;
                line-height: 22px;
                padding: 10px 20px;
            }

           
        }

        .social-media-div {
            .social-media{
                right: 25px;
            }
        }

        .music-cd-parent  {
            .music-cd {
                // position: relative;
                height: 370px;
                width: 370px;
                background-image: 100%;
                max-width: 100%;
            }
        }
    }

    .music-banner-section .grid-conatiner {
        grid-template-columns: 1fr;
    }

    .download-app-section{
        padding: 50px 0 0 0;
        .download-app-img{
          align-items: center;
        }
        .download-app-content {
            padding-bottom: 60px;

            h3 {
                font-size: 40px;
                line-height: 50px;
            }

            .btn-download {
                height: 60px;
                font-size: 18px;
                line-height: 22px;
                padding: 10px 20px;
            }
        }
    }

    .premium-plan-section {
        padding: 50px 0 0 0;
        .premium-plan-content{
            h2 {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }

    .download-now-section{
        .download-now-content{
            h2 {
                font-size: 36px;
                line-height: 46px;
                text-align: center;
                margin-bottom: 40px;
            }
        }

        .tore-content {
            .store-btn-group{
                .btn-store{
                    height: 55px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }

    .artist-section {
        padding: 60px 0;

    
        &::after {
            height: 100px;
            width: 100px;
            left: -50px;
        }
        .artist-content {
            padding: 0 0 30px 0;
            align-items: flex-start;
			.artist-content-inner {
                max-width: unset;
                position: relative;
                z-index: 2;
				h2 {
                    width: 100%;
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: 700;
                    letter-spacing: 0;
				}
			}
		}
        .artist-profile-list {
            padding: 0;
            max-width: 100%;
            &::after {
                height: 200px;
                width: 200px;
                background-repeat: no-repeat;
            }
			.artist-profile {
                align-items: center;
                justify-content: center;
				li {
                    width: 100px;
                    height: 100px;
                    a {
                        height: 100px;
                        width: 100px;
                    }
				}
			}
		}
    }

    .banner-footer{
        height: 350px;
    }

    .who-we-are-section{
        padding: 50px 0;
        .who-we-content {
            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;
                letter-spacing: 0;
            }
            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &::before {
            height: 100px;
            width: 100px;
        }
        &::after {
            height: 100px;
            width: 100px;
            left: -50px;
        }
    }


    .about-content-section{
        padding: 50px 0;
        .content{
            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;
                letter-spacing: 0;
            }
            p {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 20px;
            }

            .quote {
                p{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

      
    }

    .about-showcase-section{
        padding: 50px 0;
        .showcase-content {
            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;
                letter-spacing: 0;
            }
            p {
                font-size: 18px;
                line-height: 26px;
            }

            .quote {
                p{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

   
}

.footer-section {
    padding-top: 40px;
	.footer-content-logo {
		p {
            width: 100%;
		}
    }
    
    .footer-content-link{
        padding: 20px 0 0 0;
    }

    .stay-in-touch {
        padding-left: 0;
        .subscribe{
            .btn-subscribe {
                max-width: 130px ;
            }
        }
    }
    .social-media {
        margin-top: 30px;
    }

    
}




}

@media (min-width: 768px) and (max-width: 996px) {

    .middle-section {
        .home-banner-section{
            min-height: unset;
            .banner-inner {
    
                .banner-caption {
                    // min-height: unset;
                    padding: 50px 0;
                    position: relative;
                    z-index: 3;
                    justify-content: flex-start;
                    padding-right: 40px;
                    h2 {
                        font-size: 45px;
                        line-height: 52px;
                    }
        
                    p {
                        margin-bottom: 20px;
                    }
        
                    .btn-download {
                        height: 60px;
                        font-size: 20px;
                        line-height: 22px;
                        padding: 10px 20px;
                    }
        
                   
                }
        
                .social-media-div {
                    .social-media{
                        right: 25px;
                    }
                }
        
                .music-cd-parent  {
                    .music-cd {
                        // position: relative;
                        height: 550px !important;
                        width: 550px !important;
                        background-image: 100%;
                        max-width: 100% !important;
                    }
                }
            }
          
        }
    }
   

}

/* Portrait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-expand-md .navbar-toggler {
        display: block;
    }

    .header {
        .navbar {    
            z-index: 999;
            .collapse1 {
                display: block;
                .navbar-nav {
                    display: inline-block;
                    margin-left: 0 !important;
                    .nav-item {
                        padding: 0 20px;
                        .nav-link {
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                        }
                    }
                    padding-bottom: 30px;
                }
            }
       
        }
    }

    #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(255,255,255, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
    .sidenav-new-menu { height: 100%; min-height: 100vh; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #000000; padding: 40px 0px !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
    .width-menu {width: 35%; display: block !important;}
    .closebtn {display: block !important; color: #ffffff; text-decoration: none;}
    .closebtn:hover {display: block; color: #ffffff; text-decoration: none;}
    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px; display: block; }


    // .middle-section
    .middle-section {

        .home-banner-section{
            .banner-inner {
                .social-media-div {
                    .social-media{
                        right: 40px;
                    }
                }    
                .music-cd-parent  {
                    .music-cd {
                        // position: relative;
                        height: 500px;
                        width: 500px;
                        background-size: 100%;
                    }
                }
            }
        }  
        .music-banner-section .grid-conatiner {
            grid-template-columns: 1fr 1fr 1fr; 
        }

        .artist-section {

            .artist-content{
                align-items: center;
                padding: 80px 0;

                .artist-content-inner {
                    max-width: 100%;
                }
                h2 {
                    text-align: center;
                    font-size: 60px !important;
                    line-height: 66px !important;
                }
            }
         

            .artist-profile-list {
                padding: 0;
                max-width: 500px;
                margin: 0 auto;
                .artist-profile {
                    align-items: center;
                    justify-content: center;
                    li {
                        width: 140px !important;
                        height: 140px !important;
                        a {
                            height: 140px !important;
                            width: 140px !important;
                        }
                    }
                }
            }
        }

    }

    .footer-section {
        .stay-in-touch {
            padding-left: 0;
            .subscribe{
                .btn-subscribe {
                    max-width: 130px ;
                }
            }
        }
        .social-media {
            margin-top: 30px;
        }
    }
}


  /* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

  .header {
      .navbar {
          .collapse1 {
              .navbar-nav {                   
                  .nav-item {
                      .nav-link {
                          font-size: 12px;
                          line-height: 22x;
                          padding: 8px 10px;
                          font-weight: 500;
                      }
                  }
              }
          }
      }
  }

  .middle-section {
    .artist-section {
        .artist-content{
            padding: 60px 0 !important;
            .artist-content-inner {
                h2 {
                    font-size: 62px !important;
                    line-height: 76px !important;
                }
            }
        }
        .artist-profile-list {
            padding: 0;
            max-width: 100%;
            .artist-profile {
                align-items: center;
                justify-content: center;
                li {
                    width: 120px !important;
                    height: 120px !important;
                    a {
                        height: 120px !important;
                        width: 120px !important;
                    }
                }
            }
        }
    }
  }

  .footer-section {
    .stay-in-touch {
        padding-left: 0;
        .subscribe{
            .btn-subscribe {
                max-width: 130px ;
            }
        }
    }
    .social-media {
        margin-top: 30px;
    }
  }

}


  
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

    .middle-section {
        .home-banner-section{
            .banner-inner {    
                .music-cd-parent  {
                    .music-cd {
                        // position: relative;
                        height: 700px;
                        width: 700px;
                        background-size: 100%;
                    }
                }
            }
        }
        
        .artist-section {
            .artist-content{
                padding: 70px 0;
                .artist-content-inner {
                    h2 {
                        font-size: 62px;
                        line-height: 76px;
                    }
                }
            }
            .artist-profile-list {
                padding: 0;
                max-width: 100%;
                .artist-profile {
                    align-items: center;
                    justify-content: center;
                    li {
                        width: 120px;
                        height: 120px;
                        a {
                            height: 120px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }

}
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {

    .middle-section {
        .artist-section {
            .artist-content{
                padding: 120px 0;
                .artist-content-inner {
                    h2 {
                        font-size: 65px;
                        line-height: 76px;
                    }
                }
            }
            .artist-profile-list {
                padding: 0;
                max-width: 600px;
                .artist-profile {
                    align-items: center;
                    justify-content: center;
                    li {
                        width: 170px;
                        height: 170px;
                        a {
                            height: 170px;
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
}

/* Portrait */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {

.header .navbar .collapse1 .navbar-nav .nav-item {padding: 0 20px;}

  #cd-shadow-layer { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background-color: rgba(255,255,255, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
  .sidenav-new-menu { height: 100%; min-height: 100vh; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #000000; padding: 40px 0px 20px 0px !important; flex-basis: auto; justify-content: flex-start; align-items: flex-start; } 
  .width-menu {width: 30%; display: block !important;}
  .closebtn {display: block !important; color: #ffffff; text-decoration: none;}
  .closebtn:hover {display: block; color: #ffffff; text-decoration: none;}
  .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px; display: block; }

  

  
}




@media (max-width: 1280px) and (min-width: 1026px){
    .artist-profile-list {
        padding: 0;
        max-width: 500px;
        margin: 0 auto;
        .artist-profile {
            align-items: center;
            justify-content: center;
            li {
                width: 140px !important;
                height: 140px !important;
                a {
                    height: 140px !important;
                    width: 140px !important;
                }
            }
        }
    }
}



