@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../css/animate.css");
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

/* Use the variables */
body {
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

/* end the variables */
/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 70px;
  position: relative;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #000000;
  z-index: 999;
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .navbar .navbar-brand {
  width: 160px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
  border: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  border: 0;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -17px;
  border: 0;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 18px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  font-size: 16px;
  min-height: 30px !important;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff !important;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/*############################## Home section ###############################*/
a {
  color: #1D61F6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #C7C7C7;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #1D61F6 !important;
  color: #000000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .middle-section .home-banner-section .music-cd-parent .music-cd {
    background-size: 100% !important;
  }
}

@media screen and (min-width: 1920px) {
  /* insert styles here */
  .middle-section .home-banner-section .music-cd-parent .music-cd {
    background-size: 100% !important;
  }
  .middle-section .home-banner-section {
    min-height: 790px !important;
  }
  .middle-section .home-banner-section .banner-caption {
    min-height: calc(790px - 100px) !important;
  }
}

.middle-section .home-banner-section {
  background-color: #080202;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 100px 0 0 0;
  width: 100%;
  overflow: hidden;
}

.middle-section .home-banner-section .container {
  position: relative;
}

.middle-section .home-banner-section .banner-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.middle-section .home-banner-section .music-cd-parent .music-cd {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/bg-cd.png);
  height: 720px;
  width: 788px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right bottom;
  margin: 0 auto;
  max-width: 780px;
}

.middle-section .home-banner-section .banner-caption {
  min-height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 100;
}

.middle-section .home-banner-section .banner-caption h2 {
  font-size: 93px;
  line-height: 100px;
  font-weight: 700;
  color: #ffffff;
}

.middle-section .home-banner-section .banner-caption h2 span {
  display: block;
}

.middle-section .home-banner-section .banner-caption p {
  color: rgba(255, 255, 255, 0.55);
  line-height: 27px;
  margin-bottom: 40px;
}

.middle-section .home-banner-section .banner-caption .btn-download {
  height: 72px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  background-color: #FF0000;
  padding: 20px 30px;
  width: auto;
  border-radius: 0;
  border: 1px solid #FF0000;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .home-banner-section .banner-caption .btn-download:hover {
  background-color: #FF0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .home-banner-section .banner-caption .btn-download:focus {
  background-color: #FF0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .home-banner-section .social-media-div {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  z-index: 99;
  right: 0;
}

.middle-section .home-banner-section .social-media-div .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 20px;
}

.middle-section .home-banner-section .social-media-div .social-media::after {
  height: 82%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: -1;
}

.middle-section .home-banner-section .social-media-div .social-media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.middle-section .home-banner-section .social-media-div .social-media ul li {
  padding: 10px 0;
}

.middle-section .home-banner-section .social-media-div .social-media ul li a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  z-index: 99;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .home-banner-section .social-media-div .social-media ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(180, 180, 180, 0.26);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .music-banner-section {
  position: relative;
  background-color: #ffffff;
}

.middle-section .music-banner-section .container-pad-0 {
  padding: 0;
}

.middle-section .music-banner-section .row-0 {
  margin: 0;
}

.middle-section .music-banner-section .row-0 .pad-0 {
  padding: 0;
}

.middle-section .music-banner-section .grid-conatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.middle-section .music-banner-section .grid-conatiner .grid-col {
  width: 100%;
}

.middle-section .music-banner-section .music-box {
  position: relative;
  display: block;
}

.middle-section .music-banner-section .music-box .music-content {
  display: block;
}

.middle-section .music-banner-section .music-box .music-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 572px;
  min-height: 572px;
}

.middle-section .music-banner-section .music-box .box-hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.middle-section .music-banner-section .music-box .box-hover p {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.middle-section .music-banner-section .music-box .text-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.middle-section .music-banner-section .music-box .text-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.middle-section .music-banner-section .music-box .color-green {
  background-color: rgba(0, 255, 34, 0.4);
}

.middle-section .music-banner-section .music-box .color-blue {
  background-color: rgba(38, 7, 55, 0.4);
}

.middle-section .music-banner-section .music-box .color-brown {
  background-color: rgba(139, 74, 0, 0.4);
}

.middle-section .music-banner-section .music-box .color-red {
  background-color: rgba(170, 28, 28, 0.4);
}

.middle-section .music-banner-section .music-box .color-light-green {
  background-color: rgba(0, 184, 159, 0.4);
}

.middle-section .music-banner-section .music-box:hover .text-top {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-top: 270px;
}

.middle-section .music-banner-section .music-box:hover .text-bottom {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 270px;
}

.middle-section .artist-section {
  padding: 100px 0;
  background-color: #CF261D;
  position: relative;
  overflow: hidden;
}

.middle-section .artist-section::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -100px;
  background-image: url(../images/pattern-two.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 210px;
  width: 213px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .artist-section:hover::after {
  content: '';
  left: -70px;
  top: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .artist-section .artist-content {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .artist-section .artist-content .artist-content-inner {
  max-width: 520px;
}

.middle-section .artist-section .artist-content .artist-content-inner h2 {
  font-size: 68px;
  line-height: 76px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.middle-section .artist-section .artist-profile-list {
  padding-left: 50px;
  max-width: 620px;
  display: block;
  width: 100%;
  position: relative;
}

.middle-section .artist-section .artist-profile-list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -50px;
  background-image: url(../images/pattern-one.svg);
  background-size: contain;
  background-position: center;
  display: block;
  height: 210px;
  width: 456px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .artist-section .artist-profile-list:hover::after {
  content: '';
  left: -90px;
  bottom: -30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .artist-section .artist-profile-list .artist-profile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: relative;
  z-index: 2;
}

.middle-section .artist-section .artist-profile-list .artist-profile li {
  width: 180px;
  margin: 5px 5px;
}

.middle-section .artist-section .artist-profile-list .artist-profile li a {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}

.middle-section .artist-section .artist-profile-list .artist-profile li a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995), -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
}

.middle-section .artist-section .artist-profile-list .artist-profile li a:hover img {
  -webkit-transform: scale(1.3) rotate(0deg);
          transform: scale(1.3) rotate(0deg);
}

.middle-section .download-app-section {
  background-color: #171717;
  padding: 0px 0 0 0;
  position: relative;
}

.middle-section .download-app-section::after {
  content: '';
  position: relative;
  display: block;
  background-image: url(../images/bg-app.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0.05;
  top: 0;
  z-index: 1;
}

.middle-section .download-app-section .download-app-inner {
  position: relative;
  z-index: 3;
}

.middle-section .download-app-section .row-0 {
  margin: 0;
}

.middle-section .download-app-section .row-0 .pad-0 {
  padding: 0;
}

.middle-section .download-app-section .download-app-img {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 405px;
  width: 100%;
}

.middle-section .download-app-section .download-app-img img {
  max-width: 270px;
  width: 100%;
}

.middle-section .download-app-section .download-app-content {
  padding: 100px 0 0px 0;
}

.middle-section .download-app-section .download-app-content h3 {
  font-size: 47px;
  color: #ffffff;
  font-weight: 700;
  line-height: 57px;
}

.middle-section .download-app-section .download-app-content p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.middle-section .download-app-section .download-app-content .btn-download {
  height: 72px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  background-color: #FF0000;
  padding: 20px 30px;
  width: auto;
  border-radius: 0;
  border: 1px solid #FF0000;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .download-app-section .download-app-content .btn-download:hover {
  background-color: #FF0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .download-app-section .download-app-content .btn-download:focus {
  background-color: #FF0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .premium-plan-section {
  background-color: #000000;
  padding: 100px 0 0 0;
  position: relative;
}

.middle-section .premium-plan-section::after {
  content: '';
  position: relative;
  display: block;
  background-image: url(../images/bg-app.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0.05;
  bottom: 0;
  z-index: 1;
}

.middle-section .premium-plan-section .premium-plan-inner {
  position: relative;
  z-index: 99;
}

.middle-section .premium-plan-section .premium-plan-content h2 {
  color: #ffffff;
  font-size: 49px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 40px;
}

.middle-section .premium-plan-section .premium-plan-content .content {
  margin-bottom: 20px;
}

.middle-section .premium-plan-section .premium-plan-content .content h3 {
  color: #CF261D;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.middle-section .premium-plan-section .premium-plan-content .content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.middle-section .premium-plan-section .premium-plan-img {
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.middle-section .premium-plan-section .premium-plan-img img {
  width: 100%;
  max-width: 390px;
}

.middle-section .download-now-section {
  padding: 90px 0;
  background-color: #CF261D;
  overflow: hidden;
  position: relative;
}

.middle-section .download-now-section .download-now-inner {
  position: relative;
  z-index: 3;
}

.middle-section .download-now-section::after {
  content: '';
  position: relative;
  display: block;
  background-image: url(../images/shape-line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: 50;
          animation-iteration-count: 50;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.middle-section .download-now-section .download-now-content h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  color: #ffffff;
}

.middle-section .download-now-section .store-content .store-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middle-section .download-now-section .store-content .store-btn-group .btn-store {
  padding: 0;
  margin: 5px 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  height: 70px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.middle-section .download-now-section .store-content .store-btn-group .btn-store:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-section .download-now-section .store-content .store-btn-group .btn-store:focus {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.middle-section .banner-footer {
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 470px;
  position: relative;
}

.middle-section .banner-footer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 100px;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.middle-section .banner-inner-section {
  height: 500px;
  min-height: 500px;
  background-image: url("../images/bg-about.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .banner-inner-section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.middle-section .banner-inner-section .banner-inner {
  position: relative;
  z-index: 99;
}

.middle-section .banner-inner-section .heading h2 {
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}

.middle-section .who-we-are-section {
  background-color: #CF261D;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.middle-section .who-we-are-section::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -100px;
  background-image: url(../images/pattern-two.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 210px;
  width: 213px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .who-we-are-section:hover::after {
  content: '';
  left: -70px;
  top: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .who-we-are-section::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url(../images/pattern-two.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 210px;
  width: 213px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .who-we-are-section:hover::before {
  content: '';
  right: -20px;
  bottom: -20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.middle-section .who-we-are-section .who-we-are-inner {
  z-index: 99;
}

.middle-section .who-we-are-section .who-we-content h2 {
  font-size: 68px;
  line-height: 76px;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 10px;
}

.middle-section .who-we-are-section .who-we-content p {
  font-size: 22px;
  color: #FFFFFF;
  line-height: 40px;
}

.middle-section .about-banner-section .container-fluid {
  padding: 0;
}

.middle-section .about-banner-section .banner-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.middle-section .about-banner-section .banner-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 430px;
  overflow: hidden;
}

.middle-section .about-banner-section .banner-img::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 100px;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.middle-section .about-banner-section .owl-theme .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.middle-section .about-banner-section .owl-theme .owl-dots .owl-dot {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .about-banner-section .owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.middle-section .about-banner-section .owl-theme .owl-dots .owl-dot.active span {
  background-color: #CF261D;
  border: 1px solid #CF261D;
}

.middle-section .about-content-section {
  background-color: #080202;
  padding: 80px 0;
}

.middle-section .about-content-section .content p {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 39px;
  font-weight: 400;
  margin-bottom: 30px;
  word-break: break-word;
}

.middle-section .about-content-section .content .quote p {
  font-weight: 700;
  color: #FFFFFF;
  font-style: italic;
  font-size: 22px;
}

.middle-section .about-showcase-section {
  padding: 80px 0;
  background-color: #080202;
}

.middle-section .about-showcase-section .showcase-content p {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 39px;
  font-weight: 400;
  margin-bottom: 30px;
}

.middle-section .about-showcase-section .showcase-content .quote p {
  font-weight: 700;
  color: #FFFFFF;
  font-style: italic;
  font-size: 22px;
}

.middle-section .about-showcase-section .showcase-img img {
  width: 100%;
}

.footer-section {
  padding: 80px 0 0px 0;
  background-color: #000000;
  color: #FFFFFF;
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-content-logo p {
  width: 170px;
}

.footer-section .footer-content-link {
  padding: 70px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .stay-in-touch {
  padding: 0 0 0 50px;
}

.footer-section .stay-in-touch h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-section .stay-in-touch .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group {
  margin-bottom: 0;
  margin-right: 10px;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control {
  background-color: transparent;
  color: #ffffff;
  height: 46px;
  font-size: 16px;
  border-radius: 4px;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control:focus {
  border-color: #ffffff !important;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe {
  background-color: #ffffff;
  color: #000000;
  height: 46px;
  border-radius: 0;
  max-width: 170px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-section .stay-in-touch .subscribe .btn-subscribe:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe:focus {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000000;
  background-color: #ffffff;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

.closebtn img {
  width: 20px;
  height: 20px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media screen and (min-width: 600px) and (max-width: 800px) {
  /* insert styles here */
  .middle-section .music-banner-section .grid-conatiner {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .middle-section .home-banner-section .banner-inner {
    min-height: unset;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption {
    padding: 50px 0;
    position: relative;
    z-index: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 30px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption p {
    margin-bottom: 20px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption .btn-download {
    height: 50px;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 15px;
  }
  .middle-section .home-banner-section .banner-inner .music-cd-parent .music-cd {
    height: 300px;
    width: 300px;
    background-image: 100%;
  }
  .middle-section .artist-section .artiest-inner .artist-content .artist-content-inner h2 {
    width: 100%;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .middle-section .artist-section .artiest-inner .artist-profile-list {
    padding: 0;
    max-width: 100%;
  }
  .middle-section .artist-section .artiest-inner .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artiest-inner .artist-profile-list .artist-profile li {
    width: 80px;
    height: 80px;
  }
  .middle-section .artist-section .artiest-inner .artist-profile-list .artist-profile li a {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 140px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
    background-color: #ED5C37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ED5C37;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px  !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .middle-section .home-banner-section {
    min-height: unset;
  }
  .middle-section .home-banner-section .banner-caption {
    padding: 50px 0;
    position: relative;
    z-index: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 40px;
  }
  .middle-section .home-banner-section .banner-caption h2 {
    font-size: 45px;
    line-height: 52px;
  }
  .middle-section .home-banner-section .banner-caption p {
    margin-bottom: 20px;
  }
  .middle-section .home-banner-section .banner-caption .btn-download {
    height: 60px;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .middle-section .home-banner-section .social-media-div .social-media {
    right: 25px;
  }
  .middle-section .home-banner-section .music-cd-parent .music-cd {
    height: 370px;
    width: 370px;
    background-image: 100%;
    max-width: 100%;
  }
  .middle-section .music-banner-section .grid-conatiner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .middle-section .download-app-section {
    padding: 50px 0 0 0;
  }
  .middle-section .download-app-section .download-app-img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-section .download-app-section .download-app-content {
    padding-bottom: 60px;
  }
  .middle-section .download-app-section .download-app-content h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .middle-section .download-app-section .download-app-content .btn-download {
    height: 60px;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .middle-section .premium-plan-section {
    padding: 50px 0 0 0;
  }
  .middle-section .premium-plan-section .premium-plan-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .middle-section .download-now-section .download-now-content h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 40px;
  }
  .middle-section .download-now-section .tore-content .store-btn-group .btn-store {
    height: 55px;
  }
  .middle-section .download-now-section .tore-content .store-btn-group .btn-store img {
    width: auto;
    height: 100%;
  }
  .middle-section .artist-section {
    padding: 60px 0;
  }
  .middle-section .artist-section::after {
    height: 100px;
    width: 100px;
    left: -50px;
  }
  .middle-section .artist-section .artist-content {
    padding: 0 0 30px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-section .artist-section .artist-content .artist-content-inner {
    max-width: unset;
    position: relative;
    z-index: 2;
  }
  .middle-section .artist-section .artist-content .artist-content-inner h2 {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .middle-section .artist-section .artist-profile-list {
    padding: 0;
    max-width: 100%;
  }
  .middle-section .artist-section .artist-profile-list::after {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li {
    width: 100px;
    height: 100px;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li a {
    height: 100px;
    width: 100px;
  }
  .middle-section .banner-footer {
    height: 350px;
  }
  .middle-section .who-we-are-section {
    padding: 50px 0;
  }
  .middle-section .who-we-are-section .who-we-content h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .middle-section .who-we-are-section .who-we-content p {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .who-we-are-section::before {
    height: 100px;
    width: 100px;
  }
  .middle-section .who-we-are-section::after {
    height: 100px;
    width: 100px;
    left: -50px;
  }
  .middle-section .about-content-section {
    padding: 50px 0;
  }
  .middle-section .about-content-section .content h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .middle-section .about-content-section .content p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .middle-section .about-content-section .content .quote p {
    font-size: 18px;
    font-weight: 600;
  }
  .middle-section .about-showcase-section {
    padding: 50px 0;
  }
  .middle-section .about-showcase-section .showcase-content h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .middle-section .about-showcase-section .showcase-content p {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .about-showcase-section .showcase-content .quote p {
    font-size: 18px;
    font-weight: 600;
  }
  .footer-section {
    padding-top: 40px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .middle-section .home-banner-section {
    min-height: unset;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption {
    padding: 50px 0;
    position: relative;
    z-index: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 40px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption h2 {
    font-size: 45px;
    line-height: 52px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption p {
    margin-bottom: 20px;
  }
  .middle-section .home-banner-section .banner-inner .banner-caption .btn-download {
    height: 60px;
    font-size: 20px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .middle-section .home-banner-section .banner-inner .social-media-div .social-media {
    right: 25px;
  }
  .middle-section .home-banner-section .banner-inner .music-cd-parent .music-cd {
    height: 550px !important;
    width: 550px !important;
    background-image: 100%;
    max-width: 100% !important;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
  .middle-section .home-banner-section .banner-inner .social-media-div .social-media {
    right: 40px;
  }
  .middle-section .home-banner-section .banner-inner .music-cd-parent .music-cd {
    height: 500px;
    width: 500px;
    background-size: 100%;
  }
  .middle-section .music-banner-section .grid-conatiner {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .middle-section .artist-section .artist-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0;
  }
  .middle-section .artist-section .artist-content .artist-content-inner {
    max-width: 100%;
  }
  .middle-section .artist-section .artist-content h2 {
    text-align: center;
    font-size: 60px !important;
    line-height: 66px !important;
  }
  .middle-section .artist-section .artist-profile-list {
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li {
    width: 140px !important;
    height: 140px !important;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li a {
    height: 140px !important;
    width: 140px !important;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
  .middle-section .artist-section .artist-content {
    padding: 60px 0 !important;
  }
  .middle-section .artist-section .artist-content .artist-content-inner h2 {
    font-size: 62px !important;
    line-height: 76px !important;
  }
  .middle-section .artist-section .artist-profile-list {
    padding: 0;
    max-width: 100%;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li {
    width: 120px !important;
    height: 120px !important;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li a {
    height: 120px !important;
    width: 120px !important;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-inner .music-cd-parent .music-cd {
    height: 700px;
    width: 700px;
    background-size: 100%;
  }
  .middle-section .artist-section .artist-content {
    padding: 70px 0;
  }
  .middle-section .artist-section .artist-content .artist-content-inner h2 {
    font-size: 62px;
    line-height: 76px;
  }
  .middle-section .artist-section .artist-profile-list {
    padding: 0;
    max-width: 100%;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li {
    width: 120px;
    height: 120px;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li a {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .artist-section .artist-content {
    padding: 120px 0;
  }
  .middle-section .artist-section .artist-content .artist-content-inner h2 {
    font-size: 65px;
    line-height: 76px;
  }
  .middle-section .artist-section .artist-profile-list {
    padding: 0;
    max-width: 600px;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li {
    width: 170px;
    height: 170px;
  }
  .middle-section .artist-section .artist-profile-list .artist-profile li a {
    height: 170px;
    width: 170px;
  }
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
}

@media (max-width: 1280px) and (min-width: 1026px) {
  .artist-profile-list {
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
  }
  .artist-profile-list .artist-profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .artist-profile-list .artist-profile li {
    width: 140px !important;
    height: 140px !important;
  }
  .artist-profile-list .artist-profile li a {
    height: 140px !important;
    width: 140px !important;
  }
}
/*# sourceMappingURL=custom.css.map */